.DS_Store

__pycache__/
*.py[co]

htmlcov/
.coverage
.pytest_cache/
*mypy_cache/

*.mo

.idea/**/*.iml
.idea/shelf
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml

.vscode

static/

# Ignore every media file except these three.
media/*
!media/uploads
media/uploads/*
!media/uploads/attachments
!media/uploads/avatars
!media/uploads/resources
media/uploads/attachments/*
media/uploads/avatars/*
media/uploads/resources/*
!media/uploads/attachments/test_attachment.png
!media/uploads/avatars/test_avatar.jpg
!media/uploads/resources/test_resource.pdf
