Django==3.1.2
Pillow==7.2.0
PyYAML==5.3.1
dj-database-url==0.5.0
django-amazon-ses==4.0.0
django-cors-headers==3.5.0
django-graphql-jwt==0.3.1
django-imagekit==4.0.2
django-parler==2.2.0
django-s3-storage==0.13.4
graphene-django==2.13.0
gunicorn==20.0.4
mat2==0.11.0
psycopg2==2.8.6
python-magic==0.4.18
requests==2.24.0
