Django==2.2.7
Pillow==6.0.0
django-cors-headers==3.1.0
django-environ==0.4.5
django-filter==2.2.0
django-graphql-jwt==0.2.2
django-imagekit==4.0.2
environ==1.0
graphene-django==2.7.0
graphql-core==2.2.1
psycopg2==2.8.2
django-s3-storage==0.12.4
dj-database-url==0.5.0
mypy==0.761
gunicorn==20.0.4
pyaml==20.3.1
