Django==2.2.7
Pillow==6.0.0
PyYAML==5.1.2
django-cors-headers==3.1.0
django-filter==2.2.0
django-graphql-extensions==0.0.6
django-graphql-jwt==0.2.2
django-imagekit==4.0.2
django-imagekit==4.0.2
django-environ==0.4.5
graphql-core==2.2.1
graphene-django==2.7.0
mypy==0.740
psycopg2==2.8.2
pytest-cov==2.7.1
pytest-django==3.5.1
pytest-xdist==1.29.0 
pytest==5.0.1
environ==1.0
